.goods-container {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(310px, 1fr));
  gap: 2rem;
}
.top-arrow,
.bottom-arrow {
  color: teal;
  position: fixed;
  top: 47vh;
  right: 1rem;
  padding: 3px 8px 4px 8px;
  background-color: #fdfff582;
}
.bottom-arrow {
  top: 53vh;
  padding: 5px 8px 2px 8px;
}
