.navbar {
  background-color: var(--main-bg-color1);
}
.navbar a {
  color: var(--azure-color);
}
.dropdown-menu {
  background-color: var(--main-bg-color2);
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 white;
}
@media (max-width: 768px) {
  .navbar-nav {
    position: absolute;
    top: 56px;
    right: 0;
    background-color: teal;
    border: 1px solid rgb(255, 255, 255);
    padding: 1rem;
  }
}
.dropdown-menu[data-bs-popper] {
  /* position: absolute;
  top: 45px;
  right: 0; */
}
