footer {
  background-color: var(--main-bg-color1);
  color: var(--azure-color);
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer-container a {
  color: var(--azure-color) !important;
  text-decoration: none;
}
