@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color1: teal;
  --main-bg-color2: #2badad;
  --azure-color: azure;
  --transition-default: color 120ms ease-in;
}
main {
  min-height: calc(100vh - 112px);
}
a {
  cursor: pointer !important;
  transition: var();
  -webkit-transition: var();
  -moz-transition: var();
  -ms-transition: var();
  -o-transition: var();
}
.section-container {
  max-width: 1200px;
  margin: 0 auto;
}

a:hover {
  transition: var();
  -webkit-transition: var();
  -moz-transition: var();
  -ms-transition: var();
  -o-transition: var();
}
*,
*::before {
  transition: var(--transition-default) !important;
  -webkit-transition: var(--transition-default) !important;
  -moz-transition: var(--transition-default) !important;
  -ms-transition: var(--transition-default) !important;
  -o-transition: var(--transition-default) !important;
}
