@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color1: teal;
  --main-bg-color2: #2badad;
  --azure-color: azure;
  --transition-default: color 120ms ease-in;
}
body {
  font-family: 'Shantell Sans', cursive;
}
main {
  min-height: calc(100vh - 112px);
}
a {
  cursor: pointer !important;
  transition: var();
  -webkit-transition: var();
  -moz-transition: var();
  -ms-transition: var();
  -o-transition: var();
}
.section-container {
  max-width: 1200px;
  margin: 0 auto;
}

a:hover {
  transition: var();
  -webkit-transition: var();
  -moz-transition: var();
  -ms-transition: var();
  -o-transition: var();
}
*,
*::before {
  transition: var(--transition-default) !important;
  -webkit-transition: var(--transition-default) !important;
  -moz-transition: var(--transition-default) !important;
  -ms-transition: var(--transition-default) !important;
  -o-transition: var(--transition-default) !important;
}

.active-btn {
  position: relative;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 1.5em;
  -webkit-transition-duration: 0.4s;
}
.active-btn:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: box-shadow, opacity 1s ease-in;
  box-shadow: 0 0 0 0 #f3f4f6;
  border-radius: 1.5em;
}

.active-btn:active:after {
  box-shadow: 0 0 7px 7px #eeeff0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
  border-radius: 1.5em;
}

.active-btn:active {
  top: 1px;
}
